<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="integra.vision.engine" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="engine" type="Integra.Vision.Engine.Configuration.EngineConfigurationSection, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--****************** CONFIGURACION PRIVADA NO TOCAR ******************-->
  <integra.vision.engine>
    <engine>
      <!-- 1048576 = 100MB, 524288 = 5MB-->
      <bufferManagement maxBufferPoolSize="1048576" maxBufferSize="524288" />
      <!--Aqui va la configuración del string de conexion para los repositorios-->
      <database connectionString="" />
      <!--Nivel de concurrencia, el nivel indica cuantas operaciones concurrentes se ejecutarán-->
      <concurrency level="1" />
      <listener>
        <endpoints>
          <!--Ojo este tiene que estar pues es el endpoint default-->
          <endpoint name="default" address="net.tcp://localhost:8000" />
        </endpoints>
      </listener>
      <!--
          Se definen todos los manejadores de operaciones que el motor puede manejar. La idea aqui es que se vayan agregando
          manejadores conforme se necesiten y cada uno va encadenado con el siguiente asi que el orden es importante.
        -->
      <operation>
        <dispatcher>
          <filter name="parse" type="Integra.Vision.Engine.Core.ParseDispatchFilterFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <filter name="compile" type="Integra.Vision.Engine.Core.CompileDispatchFilterFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <filter name="build" type="Integra.Vision.Engine.Core.CommandActionBuilderDispatchFilterFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <filter name="factory" type="Integra.Vision.Engine.Core.CommandActionFactoryDispatchFilterFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <filter name="invoke" type="Integra.Vision.Engine.Core.CommandActionInvokerDispatchFilterFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <filter name="result" type="Integra.Vision.Engine.Core.CommandActionResultDispatchFilterFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </dispatcher>
        <actions>
          <!--Definir aqui los comandos y las acciones que se ejecutan-->
          <CreateSource>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.CreateSourceCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </CreateSource>
          <CreateStream>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.CreateStreamCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </CreateStream>
          <CreateRole>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.CreateRoleCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </CreateRole>
          <CreateUser>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.CreateUserCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </CreateUser>
          <DropSource>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.DropSourceCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </DropSource>
          <DropStream>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.DropStreamCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </DropStream>
          <DropUser>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.DropUserCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </DropUser>
          <DropRole>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.DropRoleCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </DropRole>
          <Grant>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.GrantPermissionCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </Grant>
          <Deny>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.DenyPermissionCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </Deny>
          <Revoke>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.RevokePermissionCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </Revoke>
          <SystemQuery>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.SystemQueriesCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </SystemQuery>
          <UserQuery>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.UserQueriesCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </UserQuery>
          <StartSource>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.StartSourceCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </StartSource>
          <StartStream>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.StartStreamCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </StartStream>
          <StopSource>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.StopSourceCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </StopSource>
          <StopStream>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.StopStreamCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </StopStream>
          <SetTraceSource>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.SetTraceSourceCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </SetTraceSource>
          <SetTraceStream>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.SetTraceStreamCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </SetTraceStream>
          <SetTraceEngine>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.SetTraceEngineCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </SetTraceEngine>
          <SetTraceObject>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.SetTraceObjectCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </SetTraceObject>
          <AlterSource>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.AlterSourceCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </AlterSource>
          <AlterStream>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.AlterStreamCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </AlterStream>
          <AlterUser>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.AlterUserCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </AlterUser>
          <Publish>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.PublishCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </Publish>
          <Receive>
            <action name="authorization" type="Integra.Vision.Engine.Core.AuthorizationCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <action name="execute" type="Integra.Vision.Engine.Core.ReceiveCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </Receive>
          <Boot>
            <action name="execute" type="Integra.Vision.Engine.Core.BootEngineCommandActionFactory, Integra.Vision.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </Boot>
      </actions>
      </operation>
    </engine>
  </integra.vision.engine>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EngineDatabase" connectionString="Data Source=OSCARCANEK-PC;Initial Catalog=EngineDatabase;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
